.card-dark {
    background-color: #333; /* Choose your desired dark background color */
    color: #fff;
  }
.post-avatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid var(--primary-color);
    padding: 2px;
    box-sizing: border-box;
}

.text-box {
    resize: none;
    height: auto;
    outline: none;
    overflow-y: hidden;
    padding: 10px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    width: 100%;
    max-width: 100%;
}

.username {
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary-color);
}

.btn-post {
    background-color: var(--primary-color);
    color: var(--accent-color);
    font-weight: 500;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-post:hover {
    background-color: var(--background-color);
    color: var(--text-color);
}

.btn-function {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 2px solid var(--primary-color);
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-function:hover {
    background-color: var(--primary-color);
    color: var(--accent-color);
}

.submit-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-btn:hover {
    background-color: #0056b3;
  }
