.card-dark {
  background-color: #333; /* Choose your desired dark background color */
  color: #fff;
}

.username {
    font-size: 1.5rem;
    color: #fff;
  }
  
  .profile-img {
    width: 8rem;
    height: 8rem; /* Adjust height to maintain aspect ratio */
    border-radius: 0.5rem;
    border: 0.2rem solid var(--background-color);
    object-fit: cover; /* Maintain aspect ratio and fill container */
  }
  
  .banner-img {
    height: 6rem;
    width: 100%; /* Ensure full width */
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    object-fit: cover; /* Ensure full cover of container */
  }
  