.card-dark {
    background-color: #333; /* Choose your desired dark background color */
    color: #fff;
  }

  .username {
    font-size: 1rem;
    font-weight: 600;
    color: #fff; /* Light font color */
  }