.Post {
    margin: 20px 0;
  }
  
  .time-text {
    font-size: 0.9rem;
    color: var(--text-color);
  }
  
  .post-text {
    font-size: 1rem;
  }
  
  .post-media {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
  }
  
  .like-comment {
    text-decoration: none;
    color: var(--text-color);
  }
  
  .like-comment-text {
    font-size: 0.9rem;
    margin-left: 0.5rem;
  }
  
  .material-symbols-outlined {
    font-size: 1.7rem;
    /* color: var(--primary-color); */
  }  

  .liked {
    color: red;
  }  
  
  .like-comment:hover {
    color: var(--primary-color);
  }
  
  .comment-box {
    width: 100%;
    padding: 0.2rem;
    border-radius: 0.3rem;
    background-color: #fff;
  }
  
  .text-box {
    background-color: #fff;
    flex-grow: 1;
    border: 0;
    height: 3rem;
  }
  
  .send-comment {
    border: none;
    background: none;
    cursor: pointer;
    color: var(--text-color); /* Add the color property to maintain the text color */
  }
  
  .send-comment:hover {
    color: var(--primary-color);
  }
  
  
  #commentContent {
    border: 0;
    background-color: var(--background-color);
  }
  
  /* .send-comment {
    color: var(--text-color);
  }
  
  .send-comment:hover {
    color: var(--primary-color);
  } */
  
  .comment-section {
    margin-top: 20px;
  }
  