.CreatePoll {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
}