:root {
  --primary-color: #326DE4;
  --accent-color: #EBEFFB;
  --text-color: #686A78;
  --background-color: #F0F2F5;
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.btn-login-img {
  width: 2.5rem;
  border-radius: 1rem;
}

.btn-login {
  margin-bottom: 1rem;
  font-size: 1rem;
  padding: 0.1rem 0.5rem;
  background-color: var(--primary-color);
}

.btn-login:hover {
  background-color: var(--text-color);
}